
services:
  stock-service:
    build:
      context: ./backend/stock-service
      dockerfile: Dockerfile
    ports:
      - "8001:8001"
    env_file:
      - path: ./backend/stock-service/.env
        required: false
    environment:
      - FINNHUB_API_KEY=${FINNHUB_API_KEY}
      - FINNHUB_BASE_URL=${FINNHUB_BASE_URL}
      - ALPACA_TEST_URL=wss://stream.data.alpaca.markets/v2/test
      - ALPACA_API_KEY=${ALPACA_API_KEY}
      - ALPACA_API_SECRET=${ALPACA_API_SECRET}
      - ALPHA_VANTAGE_API_KEY=${ALPHA_VANTAGE_API_KEY}
    volumes:
      - ./backend/stock-service:/app
      - pip_cache:/root/.cache/pip
    command: uvicorn app.main:app --host 0.0.0.0 --port 8001 --reload

  # portfolio-service:
  #   build:
  #     context: ./backend/portfolio-service
  #     dockerfile: Dockerfile
  #   ports:
  #     - "8002:8002"
  #   volumes:
  #     - ./backend/portfolio-service:/app
  #     - pip_cache:/root/.cache/pip
  #   environment:
  #     - DATABASE_URL=${SUPABASE_DATABASE_URL}
  #     - ENV=development
  #   command: uvicorn app.main:app --host 0.0.0.0 --port 8002 --reload

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_API_URL=http://localhost:8001
    depends_on:
      - stock-service

volumes:
  pip_cache: